/** fonts => start */
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "mikhak";
  src: url(../fonts/Mikhak-Medium.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
/* fonts => end */
/** Normalize style => start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mikhak";
}
html {
  /*! 62.5% = 10px = 1rem */
  font-size: 62.5%;
  direction: rtl;
}
ol,
ul {
  border: none;
  outline: none;
  list-style: none;
}
a {
  text-decoration: none;
}
input,
button,
select {
  outline: none;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* Normalize style => end */
/** main contetnt => start */
body {
  min-width: 37.5rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* header => start */
.header {
  width: 100%;
  background-color: blue;
  text-align: center;
}
.header h1 {
  font-size: 3rem;
  margin: 3rem 0;
  color: #eee;
}
/* header => end */
.main {
  margin: 2.5rem 0;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input,
.btn-phonenumber {
  padding: 1rem;
  font-size: 2rem;
  margin-left: 0.5rem;
  border: 1px solid #777;
  border-radius: 5px;
}
.btn-phonenumber {
  width: 5.5rem;
  height: 5.5rem;
  background-color: blue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.btn-phonenumber:hover {
  background-color: orange;
  color: #333;
}
/* type phone number contact */
.box-type-phonenumber {
  margin: 1rem;
  position: relative;
}
.box-type-phonenumber::after,
.filter:after {
  content: "\25BC";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: blue;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 0.7rem 0.4rem 0.7rem;
  border-radius: 5px 0 0 5px;
  pointer-events: none;
}
.select-type-phonenumber {
  width: 15rem;
  font-size: 1.5rem;
}
/*  list contacts */
.list-phonenumber {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.list-contacts {
  min-width: 40rem;
  opacity: 1;
}
/* contacts box => start*/
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #000;
  border: 1px solid #777;
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
}
.contacts span {
}
/* contacts box => end*/
/* contact => start*/
.contact-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact-list span {
  flex: 1;
  margin: 0 1rem;
}
/* delete buutton */
.trash-button {
  background-color: blue;
  padding: 1rem 1.5rem;
  border-radius: 3px 0 0 3px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 1px;
}
.fa-trash {
  pointer-events: none;
}
/* effect for delete contact */
.effect-delete {
  opacity: 0;
  transition: all 1s ease;
  transform: translateX(-50%);
}
/* contact => end*/
/* filter contacts  => start*/
.filter {
  min-width: 30%;
  position: relative;
  margin: 1.5rem 0;
  display: none;
}
.contacts-filter {
  width: 100%;
  font-size: 1.5rem;
}
/* filter contacts  => end*/

/* main contetnt => end */
